@model User

@{
    ViewData["Title"] = "Me";
}

<h1>Your Info</h1>

<div>
    <h4>Account Info</h4>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(model => model.Role)
        </dt>
    </dl>

    <h4>Residence Info</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Resident.ServiceSubscriptionIds)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Resident.ServiceSubscriptionIds)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Resident.IsCurrentlyLiving)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Resident.IsCurrentlyLiving)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Resident.Name)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Resident.DetailsJson)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Resident.DetailsJson)
        </dd>
    </dl>
</div>
<div>    
    <a asp-action="Index" asp-controller="Home">Home</a>  
</div>
