@model User

@{
    ViewData["Title"] = "Me";
    var parsedDetails = ViewBag.Details as Dictionary<string, string> ?? new();
}

<h1>Your Info</h1>

<div>
    <h4>Account Info</h4>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(model => model.Role)
        </dt>
    </dl>

    <h4>Residence Info</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Resident.ProfilePicture)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Resident.ProfilePicture != null && Model.Resident.ProfilePicture.Length > 0)
            {
                <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.Resident.ProfilePicture)" alt="Resident Photo" style="max-width: 200px; max-height: 200px;" />
            }
            else
            {
                <p>No photo available</p>
            }
        </dd>
        <dt class="col-sm-2">
            Subscribed Services
        </dt>
        @foreach(Service service in Model.Resident.Services)
        {
            <div class="form-group d-flex gap-2">
                <dd class="col-sm-10">@service.Type</dd>
                <dd class="col-sm-10">@service.Rate</dd>
            </div>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Resident.IsCurrentlyLiving)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Resident.IsCurrentlyLiving)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Resident.Name)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(model => model.Resident.Name)
        </dt>
        <dt class="col-sm-2">
            Additional Details
        </dt>
        @foreach (var pair in parsedDetails)
        {
            <div class="form-group d-flex gap-2">
                <dd class="col-sm-10">@pair.Key</dd>
                <dd action="col-sm-10">@pair.Value</dd>
            </div>
        }
    </dl>
</div>
<div>    
    <a asp-action="Index" asp-controller="Home">Home</a>  
</div>
